@model EF_FluentAPI__Front_.Models.Credential

@{
    ViewData["Title"] = "Выход";
}

<h3>Вы действительно хотите выйти?</h3>
<div>
    <form asp-action="LogOut">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Выйти" class="btn btn-danger" /> |
        <a asp-controller="Home" asp-action="Index">Назад</a>
    </form>
</div>